* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-header {
  border-bottom: 1px solid lightgray;
}

.main-header h1 {
  text-align: center;
  padding: 24px 0;
}

.teemu-area {
  padding: 16px 18px;
  border-bottom: 1px solid lightgray;
}

.teemu-area h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
}

.teemu-area p {
  padding-top: 8px;
  font-family: 'Roboto', sans-serif;
}