/* GLOBAL RESET */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* MAIN HEADING */

.main-header {
  border-bottom: 1px solid lightgray;
  font-family: 'Open Sans', sans-serif;
}

.main-header h1 {
  text-align: center;
  padding: 24px 0;
}

#clock {
  font-size: 1.5rem;
  text-align: center;
  margin: -10px 0 10px;
}

/* TEEMU'S DEV AREA */

.teemu-area {
  padding: 16px 18px;
  border-bottom: 1px solid lightgray;
  color: white;
  background: #444;
}

.teemu-area h2 {
  font-family: 'Open Sans', sans-serif;
}

.teemu-area p {
  padding-top: 8px;
  font-family: 'Roboto', sans-serif;
}

.teemu-area p::first-letter {
  font-size: 24px;
  font-weight: bold;
}

/* CALCULATOR */

.calculator {
  text-align: center;
  padding: 20px;
  width: 100%;
  background-color: aqua;
  font-family: 'Open Sans', sans-serif;
}

.calculator > div {
  margin: 10px;
}

.calculator h2 {
  font-size: 28px;
}

.calc-input {
  width: 10%;
  border: none;
  border-bottom: 0.125rem solid grey;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  padding-left: 0.875rem;
  line-height: 147.6%;
	padding-top: 0.6rem;
	padding-bottom: 0.5rem;
}

.calc-input:hover {
  border-bottom-color: black;
}

.calc-btn {
	background-color: #3d94f6;
	border: 1px solid #337fed;
	border-radius: 24px;
	cursor: pointer;
	color: #ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding: 5px 24px;
}

.calc-btn:hover {
	background-color:#1e62d0;
}

#result {
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}
